__pycache__/*
**/__pycache__/
*.log
*.pot
*.pyc

### macOS ###
*.DS_Store

# IDEs 
.vscode/

# Distribution / packaging
.Python
env/
build/

# EDN
data
examples
outputs
pretrained
salmaps

#model
*.onnx
*.pb
*.tflite
